.parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    width: 400px;
}

.child{
    border: 1px solid black;
    /* border-radius: 5px; */
}

.output{
    grid-column: 1/5;
}

.zero{
    grid-column: 1/3;
}

div, button{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    font-size: 30px;
    color: #fff;
}

.grey{
    background-color: rgba(87, 85, 85, 0.581);
}

.lgrey{
    background-color: #D4D4D2;
}

.orange{
    background-color: orange;
}

.output{
    background-color: black;
    display: grid;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
}

.zero{
    display: grid;
    align-items: center;
    justify-content: start;
    padding-left: 30px;
}